.box{
	width: 50px;
	height:50px;
	margin:10px;
	padding:10px;
	border: 3px solid black;
	background-color: lightblue;

    transition: all 0.5s; 
}

.box:hover {
	-moz-transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform: rotate(15deg);

	border-radius: 20px;

	background-color: red;
	color:white;
	text-transform: uppercase;
}

/* these are the css3 button styles*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding:20px 0 0 20px;
}

.button{
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	/* add a box show*/
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    text-shadow: 0 1px 2px  rgba(0,0,0,0.5);

}

.blue {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100;Blue+Pipe+%232 */
background: #e1ffff; /* Old browsers */
background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

}

.button:active{
	position: relative;
	top: 5px;
	
}

/* navbar rule*/

main{
	margin:0 auto; width: 960px;
}
#main-nav{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans Unicode ", "Lucida Grande", sans-serif;
	height: 60px;

	background: rgb(99,171,226);
}
#main-nav ul{list-style-type: none;}

#main-nav ul li{float: left;}

#main-nav ul li a {
	display: block;
	color: white;
	font-size: 1em;
	text-decoration:none;
	margin: 10px 0 30px 10px;
	padding: 10px;
	text-transform:uppercase;
	letter-spacing: 0.5px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-transition:all 0.75s ease;
	-moz-transition:all 0.75s ease;
	-o-transition:all 0.75s ease;
}
#main-nav ul li a:hover {

background-color: #73B2E2;
border-radius: 10px;
color: #333; 

 }

 .hidden{ 
 	display: none;

 }